body {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C6CCCF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C6CCCF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #C6CCCF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C6CCCF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C6CCCF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #C6CCCF 100%);
	
	font-family: Calibri, sans-serif;
}

h1, #sponsor-child {
	text-align: center;
}

#container {
	padding: 25px;
	overflow: auto;
}

#sponsor-child img {
	border-radius: 5px;
}

#logo h1 {
	display: inline;
	font-family: Calibri;
}

#container {
	width: 75%;
	margin: auto;
	background-color: white;
}

#logo {
	float: left;
}

#accountlinks {
	float: right;
}

#navigation {
	clear: both;
	text-align: center;
	border-top: solid orange 2px;
	border-bottom: solid orange 2px;
	padding-bottom: 10px;
}

#navigation a {
	padding: 10px;
}

#sponsor-child {
	width: 30%;
	margin: auto;
	border-radius: 20px;
	padding: 20px;
	background-color: #C1CDCD;
	float: right;
}